<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title><%= channel.title %></title>
        <description><%= channel.description %></description>
        <link><%= channel.link %></link>
        <atom:link href="<%= channel.selfLink %>" rel="self" type="application/rss+xml"/>
        <lastBuildDate><%= channel.lastBuildDate %></lastBuildDate>
        <language>en-US</language>
<% items.forEach(function (it) { %>
        <item>
            <title><%= it.title %></title>
            <description><![CDATA[<%- it.description %>]]></description>
            <link><%= it.link %></link>
            <guid isPermaLink="true"><%= it.link %></guid>
            <pubDate><%= it.pubDate.toUTCString() %></pubDate>
        </item>
<% }); %>
    </channel>
</rss>
