<!DOCTYPE html>
<html>
<head>
    <title>GeoFeeds Powered by Neptune</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>GeoFeeds Powered by Neptune</h1>
    <% items.forEach(function(item) { %>
        <div class="feed-item">
            <div class="feed-title">
                <a href="<%= item.link %>" target="_blank"><%= item.title %></a>
            </div>
            <div class="feed-meta">
                <span class="feed-source"><%= item.source %></span>
                <% if (item.author) { %>
                    • <span class="feed-author">By <%= item.author %></span>
                <% } %>
                • <time><%= new Date(item.pubDate).toLocaleDateString('en-US', { 
                    year: 'numeric', 
                    month: 'long', 
                    day: 'numeric' 
                }) %></time>
            </div>
            <div class="feed-description">
                <%- item.description %>
            </div>
        </div>
    <% }); %>
<!-- Default Statcounter code for GeoFeeds https://geofeeds.co -->
<script type="text/javascript">
    var sc_project=13087567; 
    var sc_invisible=1; 
    var sc_security="3a2f1e85"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/13087567/0/3a2f1e85/1/" alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
</body>
</html> 