<!DOCTYPE html>
<html>
<head>
    <title>GeoFeeds - Spatial News Aggregator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>GeoFeeds - Your window into the world <br>of geospatial news</h1>
    <h4>Add your feed - <a href="https://bsky.app/profile/geobabbler.bsky.social">@geobabbler</a>, <a href="https://bsky.app/profile/jamesfee.bsky.social">@jamesfee</a> or create an <a href="https://github.com/geobabbler/neptune">issue on Github</a>.</h4>
    <h5><a href="/list">List of feeds</a> | <a href="/feed">Raw RSS</a></h5>
    <% items.forEach(function(item) { %>
        <div class="feed-item">
            <div class="feed-title">
                <a href="<%= item.link %>" target="_blank"><%= item.title %></a>
            </div>
            <div class="feed-meta">
                <span class="feed-source"><%= item.source %></span>
                <% if (item.author) { %>
                    • <span class="feed-author">By <%= item.author %></span>
                <% } %>
                • <time><%= new Date(item.pubDate).toLocaleDateString('en-US', { 
                    year: 'numeric', 
                    month: 'long', 
                    day: 'numeric' 
                }) %></time>
            </div>
            <div class="feed-description">
                <%- item.description %>
            </div>
        </div>
    <% }); %>
    <pre>Powered by Neptune</pre>
    <h3>In memory of <a href="https://spatiallyadjusted.com/planetgs/">Planet Geospatial</a>:  2005-2014</h3>
    <h4>Trans rights are human rights.</h4>
<!-- Default Statcounter code for GeoFeeds https://geofeeds.co -->
<script type="text/javascript">
    var sc_project=<%= process.env.sc_project%>; 
    var sc_invisible=1; 
    var sc_security="<%= process.env.sc_security%>"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/13087567/0/3a2f1e85/1/" alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
</body>
</html> 