<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>GeoFeeds Powered by Neptune</title>
        <description>Aggregated feed of GIS-related content</description>
        <link>https://geofeeds.me</link>
        <atom:link href="http://geofeeds.me/feed" rel="self" type="application/rss+xml"/>
        <lastBuildDate><%= new Date().toUTCString() %></lastBuildDate>
        <% items.forEach(function(item) { %>
    <item>
        <title><%= item.source %> - <%= item.title %></title>
        <description><![CDATA[<%- item.description %>]]></description>
        <link><%= item.link %></link>
        <guid><%= item.link %></guid>
        <pubDate><%= new Date(item.pubDate).toUTCString() %></pubDate>
        <% 
            let creator = null;

            // Prefer dc:creator if available
            if (item.original['dc:creator'] && typeof item.original['dc:creator'][0] === 'string') {
                creator = item.original['dc:creator'][0];
            } 
            // Fallback to author if dc:creator is not present
            else if (item.original.author && typeof item.original.author[0] === 'string') {
                creator = item.original.author[0];
            }

            if (creator) { 
        %>
            <dc:creator><%= creator %></dc:creator>
        <% } %>
        <%
            let isValidUrl = false;

            if (item.sourceLink && item.sourceLink.trim() !== '') {
                try {
                    new URL(item.sourceLink); // Will throw if invalid
                    isValidUrl = true;
                } catch (e) {
                    isValidUrl = false;
                }
            }
        %>
        <% if (isValidUrl) { %>
            <source url="<%= item.sourceLink %>"><%= item.source %></source>
        <% } else { %>
            
        <% } %>
    </item>
    <% }); %>

    </channel>
</rss> 